.title_post {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 3rem 0 1.5rem 0;
  padding: 0.5rem;
}

.backToHome {
  margin-top: 3rem;
}

.backToHome:link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
}

.backToHome:hover {
  color: #0984e3;
}
