.navbar {
  height: 55px;
  padding: 10px 30px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 2px solid #0011;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 15px 0;
  font-size: 3rem;
}

.link_logo:link,
.link_logo:visited {
  text-decoration: none;
  color: #000;
}
