.container_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6fafb;
  margin: 1rem 0;
}

.title_post {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 3rem 0 1.5rem 0;
  padding: 0.5rem;
}

.body_post {
  font-size: 1.3rem;
}

@media (min-width: 320px) {
  .title_post {
    width: 80%;
  }
  .body_post {
    width: 80%;
  }
}

@media (min-width: 720px) {
  .title_post {
    width: 40%;
  }
  .body_post {
    width: 40%;
  }
}

.spinner_loading {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}
