.page_title {
  font-size: 2.5rem;
}

.container_form {
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.input_content {
  resize: none;
}

.input_title,
.input_content {
  font-family: var(--font);
  padding: 0.7rem;
  margin: 0.2rem 0;
  background: #fff;
  border: 1px solid #72767d;
  border-radius: 3px;
  color: #000;
}

.input_title:focus,
.input_content:focus {
  outline: none;
  border: 1px solid #7289da;
}

.input_title::placeholder,
.input_content::placeholder {
  font-size: 1.3rem;
}

.btn_post {
  width: 100%;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: #23272a;
}

.btn_post:hover {
  background: #36393f;
  box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
  -webkit-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 3px 8px 22px 0px rgba(50, 50, 50, 0.59);
}

@media (min-width: 320px) {
  .container_form {
    width: 80%;
  }
  .input_title {
    font-size: 1.3rem;
  }

  .input_content {
    font-size: 1.3rem;
  }

  .input_title::placeholder,
  .input_content::placeholder {
    font-size: 1rem;
    font-family: var(--font);
  }
}

@media (min-width: 720px) {
  .container_form {
    width: 40%;
  }
}
