.list_content_ul {
  list-style: none;
  padding: 0;
}

.post_li {
  position: relative;
  margin: 0.6rem auto;
  padding: 0.5rem;
  background: #f6fafb;
}

.post_title_p {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2rem 0.2rem 0.2rem 0.2rem;
}

@media (min-width: 320px) {
  .post_li {
    width: 80%;
  }
}

@media (min-width: 720px) {
  .post_li {
    width: 40%;
  }
}

.btn_edit {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 40px;
}

.btn_delete {
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  outline: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.container_see_more{
  margin-top: 1.2rem;
}

.see_more:link,
.see_more:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  font-style: italic;
}

.btn_edit:link,
.btn_edit:visited {
  text-decoration: none;
  color: #000;
}

.btn_edit:hover {
  color: #1e3799;
}

.btn_delete:hover {
  color: #eb2f06;
}

.see_more:hover {
  color: #0984e3;
}
